
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 2px solid #f04141;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 4px;
  padding: 4px;

}