.container {

  grid-area: list;

  display: flex;
  flex-direction: column;

  gap: 28px;
  margin-top: 8px;
  padding: 28px;
  padding-top: 20px;

  max-width: 400px;
  height: 100%;

  border-right: 2px solid var(--red);
}