
.container {
  border: 2px dotted var(--red);
  padding: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 8px;
}

.title {
  font-size: 24px;
}

.subText {
  color: #7C7C7C;
}